{% extends "layout.jinja2" %}

{% block content %}
    <div class="map" id="map"></div>
    <div id="mouse-position"></div>
    <div class="ol-popup" id="popup"><a class="ol-popup-closer" href="#" id="popup-closer"></a>
      <div id="popup-content">
        <p>sd</p>
      </div>
    </div>
{% endblock content %}
