{% extends "layout.jinja2" %}

{% block head %}{{ super() }}
    <script src="https://openlayers.org/en/v4.4.2/build/ol.js" xmlns=""></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css"/>
    <link rel="stylesheet" href="/static/theme.css"/>
    {% block map_links %}{% endblock map_links %}
    <script>
    var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
				overlays: [overlay],
        view: new ol.View({
          center: ol.proj.fromLonLat([60.61, 56.82]),
          zoom: 13
        })
      });
    </script>>
{% endblock head %}

{% block body %}
    <div class="map" id="map"></div>
    {% block map_body %}{% endblock map_body %}
{% endblock body %}
