{% extends "map.jinja2" %}

{% block map_head %}
    {{ super() }}
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/map.js"></script>
{% endblock map_head %}

{% block map_body %}
    {{ super() }}
    2
{% endblock map_body %}