<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>cool_map</title>
      <link rel="shortcut icon" href="{{request.static_url('core:static/pyramid-16x16.png')}}">
    {% endblock head %}
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
