{% extends "base.jinja2" %}

{% block base_main %}
    {% if error %}
        <div class="alert alert-danger mb-3" role="alert">{{ error.message }}</div>
    {% endif %}

    {% if form %}
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="title-label">Название</span>
            </div>
            <input type="text" class="form-control" value="{{ form.title }}">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Описание</span>
            </div>
            <textarea class="form-control">{{ form.description }}</textarea>
        </div><br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Контент</span>
            </div>
            <textarea class="form-control">{{ form.content }}</textarea>
        </div>

        {% if inputs %}
        <hr>
        <h5>Вопросы</h5>
        {% for input in inputs %}
            <div class="card mb-3">

                <div class="col-md-12 mb-3 mt-3">
                    <label for="question_{{ input.id }}">Вопрос</label>
                    <input type="text" class="form-control" id="question_{{ input.id }}" placeholder="Введите вопрос" value="{{ input.label }}">
                </div>

                <div class="col-md-2 mb-3">
                    <label for="state">Тип</label>
                    <select class="custom-select d-block w-100" id="state" required>
                      <option {{ 'selected' if input.type == 'input' }} value="input">Input</option>
                    </select>
                </div>
            </div>

        {% endfor %}

        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-danger">Danger</button>
        {% endif %}
    {% endif %}
    </form>
{% endblock %}
