{% extends "base.jinja2" %}

{% block base_main %}
    {% if error %}
        <div class="alert alert-danger mb-3" role="alert">{{ error.message }}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success mb-3" role="alert">{{ success }}</div>
    {% endif %}

    {% if form %}
    <p>
        <h5>{{ form.title }}</h5>
        <p>{{ form.description }}</p>

        {% if inputs %}
        <form method="post">
            {% for id in inputs %}
                <div class="col-md-12 mb-3 mt-3">
                    <label for="{{ id }}">{{ inputs[id].label }}</label>
                    <input type="text" class="form-control" id="{{ id }}" name="{{ id }}" placeholder="Введите ответ" value="{{ inputs[id].answer }}">
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Изменить</button>
            <button type="button" class="btn btn-danger" onclick="location.href='/admin/answer/{{ answer_id }}?delete=true'">Удалить</button>
        </form>
        {% endif %}
    {% endif %}
{% endblock %}
