{% extends "base.jinja2" %}

{% block head %}{{ super() }}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css"/>
    <script src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>
{% endblock %}

{% block base_main %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
            {{ error.message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="alert alert-light" role="alert">
        Для создания новой формы нажмите <a class="alert-link" href="/admin/place/{{ random_uuid }}?create=true">сюда</a>.
    </div>

    {% if places %}
    {% if not places.items %}
        <div class="alert alert-success mb-3" role="alert">Данная форма еще никуда не привязана</div>
    {% endif %}

    {% for place in places.items %}
        <div class="card box-shadow">
            <div class="card-body">
                {{ place.title | default(place.id) | e }}
                <button type="button" class="btn btn-sm btn-outline-danger float-right border-0" onclick="location.href='/admin/place/{{ place.id }}'">Удалить</button>
                <button type="button" class="btn btn-sm btn-outline-primary float-right border-0 mr-1" onclick="location.href='/admin/place/{{ place.id }}?delete=true'">Смотреть</button>
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
