{% extends "base.jinja2" %}

{% block head %}{{ super() }}
<script>
function guid() {
    function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
            s4() + '-' + s4() + s4() + s4();
}
function add_input() {
    container = document.getElementById('inputs');
    id = guid();
    div = document.createElement('div');
    div.className = 'input-group alert fade show';
    div.setAttribute('role', 'alert');
    div.style = 'padding-top: 0; padding-bottom: 0';
    div.innerHTML = '\r\n' +
'                <input type="text" id="' + id + '" name="' + id + '" class="form-control" placeholder="Введите вопрос" style="border-bottom-right-radius: 0; border-top-right-radius: 0;">\r\n' +
'                <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="alert" style="border-bottom-left-radius: 0; border-top-left-radius: 0;">&times;</button>';
    container.appendChild(div)
}
</script>
{% endblock %}

{% block base_main %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
            {{ error.message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
            {{ success }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if form %}
    <form method="post">
        <div class="input-group">
            <span class="input-group-text col-sm-2 input-group-prepend" id="title-label" style="border-radius: .25em 0 0 0;">Название</span>
            <input type="text" id="title" name="title" class="form-control col-sm-10" style="border-radius: 0 .25em 0 0;" value="{{ form.title }}">
        </div>
        <div class="input-group" style="margin-top: -1px;">
            <span class="input-group-text col-sm-2 input-group-prepend" style="border-radius: 0 0 0 .25em;">Описание</span>
            <textarea id="description" name="description" class="form-control col-sm-10" style="border-radius: 0 0 .25em 0;">{{ form.description }}</textarea>
        </div>

        <div id="inputs" class="mt-3">
            {% for id in inputs %}
            <div class="input-group alert fade show" role="alert" style="padding-top: 0; padding-bottom: 0">
                <input type="text" id="{{ id }}" name="{{ id }}" class="form-control" placeholder="Введите вопрос" value="{{ inputs[id]  }}" style="border-bottom-right-radius: 0; border-top-right-radius: 0;">
                <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="alert" style="border-bottom-left-radius: 0; border-top-left-radius: 0;">&times;</button>
            </div>
            {% endfor %}
        </div>

        <div class="input-group">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="add_input()">Добавить вопрос</button>
            <hr>
            <button type="submit" class="btn btn-sm btn-outline-primary mr-1">Изменить</button>
            <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='/admin/form/{{ form.id }}?delete=true'">Удалить</button>
        </div>
    </form>
    {% endif %}
{% endblock %}
