{% extends "core:templates/base.jinja2" %}

{% block head %}{{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{request.static_url('map:static/enter.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('core:static/img_shadow.css')}}" />
{% endblock %}

{% block body %}
    <main class="text-center form-main">
        <form class="form-signin" method="post">
            <img class="mb-4 img-shadow" src="{{request.static_url('core:static/pyramid.png')}}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>

            <label for="login" class="sr-only">Логин</label>
            <input type="text" id="login" name="login" class="form-control" placeholder="Логин" required autofocus>
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>

            <div class="form-check form-check-inline mb-2 w-100">
                <input class="form-check-input" type="checkbox"  id="remember" name="remember"  value="remember-me">
                <label class="form-check-label" for="remember">Запомнить меня</label>
                <hr>
                (<a href="#" class="alert-link">забыли пароль</a>)
            </div>

            {% if result %}
            <div class="alert alert-danger" role="alert">{{ result.message }}</div>
            {% endif %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>

            <hr class="mb-1">
            <a href="/registration" class="alert-link">регистрация</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
