{% extends "core:templates/base.jinja2" %}

{% block head %}{{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{request.static_url('map:static/enter.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('core:static/img_shadow.css')}}" />
{% endblock %}

{% block body %}
    <main class="form-main">
        <form class="form-signin" method="post">
            <center class="h3 mb-3 font-weight-normal">Регистрация</center>
            <div class="mb-3">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
            </div>
            <div class="mb-3">
                <label for="new_password">Новый пароль</label>
                <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="Пароль" required style="border-bottom-left-radius: 0; border-bottom-right-radius: 0">
                <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Пароль" required style="border-top-left-radius: 0; border-top-right-radius: 0; border-top: 0">
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить</button>

            {% if error %}
            <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
            {% endif %}
        </form>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
